html {
  font-family: "Titillium Web", sans-serif;
}
body {
  font-size: 22px;
  object-fit: cover;
  background-color: #f1faee;
  color: #132a13;
}

h1 {
  font-size: 4.5rem;
  color: #1d3557;
}

.myself {
  font-family: monospace;
}
a {
  color: #132a13;
}
a:visited {
  color: #183018;
}
a:hover,
a:active {
  color: #90a955;
}
figcaption {
  background-color: black;
  color: white;
  font-style: normal;
  padding: 2px;
  text-align: justify;
}

figure {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

table,
tr,
th,
td,
caption {
  border: 1px solid #eee;
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}
