* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Titillium Web", sans-serif;
}
body {
  font-size: 22px;
  object-fit: cover;
  background-color: #f1faee;
  color: #132a13;
}

h1 {
  font-size: 4.5rem;
  color: #1d3557;
}

.myself {
  font-family: monospace;
}
a {
  color: #132a13;
}
a:visited {
  color: #183018;
}
a:hover,
a:active {
  color: #90a955;
}
figcaption {
  background-color: black;
  color: white;
  font-style: normal;
  padding: 2px;
  text-align: justify;
}

figure {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

table,
tr,
th,
td,
caption {
  border: 1px solid #eee;
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}

.container {
  border: 3px dashed #1d3557;
  font-size: 2rem;
  margin: 0.56rem;
  padding: 5%;
  font-family: fantasy;
}

.article {
  padding-left: 3rem;
  text-align: left;
  text-decoration-style: double;
}

br {
  padding-top: 3rem;
}

.myself {
  padding-top: 3%;
  text-align: center;
}

.contact {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding-left: 3%;
  margin-left: 3rem;
}
